HTML, BODY {
    margin:0;
    padding:0;
    text-align:center;
}

A {
    color: #0638E3;
    margin-bottom: 15px;
    text-shadow: 1px 1px 1px black;
    -webkit-transition-duration: 1s;
       -moz-transition-duration: 1s;
         -o-transition-duration: 1s;
            transition-duration: 1s;
}
A:hover {
	color: #34DB22;
}

P {
    padding-top : 5px;
    padding-bottom : 5px;
}

UL {
    list-style : none;
    margin-left : 0;
    padding-left : 0;
    margin-top : 0;
    position: relative;
    z-index: 10
}

IMG {
    border : none;
    padding-top : 0px;
    padding-bottom : 0px;
}

PRE {
    font-size: 1.2em !important;
    font-family : "Courier New", Courier, mono;
}
EM {
    font-style: oblique;

}

H1 {
    font-size : 1.6em;
    line-height : 1em;
    display : block;
    margin-bottom : 0.2em;
    /*border-top: 1px solid silver;*/
    padding: 15px 0 3px 0;
}
H1 A:link, H1 A:visited {
    text-decoration: none !important
}
H1 a:hover {
    color: white !important
}
H2 {
    font-size: 1.4em;
    margin: 10px 0 5px 0;
}
H3 {
    font-size: 1.3em;
    margin: 10px 0 5px;
    font-weight: bold
}
H4 {
    font-size: 1.2em;
    margin: 8px 0 1px 0
}
/*____________________________________________________________________________*/
#page {
    float:left;
}
    #header {
        float:left;
        width:100%;
    }
        #header-top {
            float:left;
            min-width:15%;
            height:30px;
        }
        #header-mid {
            float:left;
            min-width:70%;
            height:100px;
        }
            #header-mid-left {
                float:left;
                min-width:20%;
                height:100px;
            }
            #header-mid-center {
                float:left;
                min-width:60%;
                height:100px;
            }
            #header-mid-right {
                float:left;
                min-width:20%;
                height:100px;
            }
        #header-sub {
            float:left;
            min-width:100%;
            height:50px;
            font: 10pt "Arial Black";
        }
    #content {
        float:left;
        width:100%;
    }
        #content-left {
            float:left;
            min-width:20%;
        }
        #content-right {
            float:left;
            min-width:80%;
        }
    #footer {
        float:left;
        width:100%;
        padding:8px 0 8px 0;
    }
        #footer-left {
            float:left;
            min-width:20%;
        }
        #footer-center {
            float:left;
            min-width:60%;
        }
        #footer-right {
            float:left;
            min-width:20%;
        }

/*____________________________________________________________________________*/
.th-line {
    float:left;
    width:100%;
    background:#eee;
    border:1px solid #ccc;
}
.tr-line {
    float:left;
    width:100%;
    border:1px solid #ccc;
}
.th-line DIV, .tr-line DIV {
    float:left;
    border-right: solid 1px #ccc;
    border-bottom: solid 1px #ccc;
}

/*____________________________________________________________________________*/



.tag
{
    border:solid 1px #111111;
    background-color:#e2e1a1;
    text-align: center;
    -webkit-box-shadow: 4px 4px 4px #888;
    -moz-border-radius: 6px;
       -moz-box-shadow: 4px 4px 4px #888;
     border-radius: 18px;
    box-shadow: 4px 4px 4px #888;
    font-size: 28px;
}
